* {
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(25, 26, 33);
  color: rgb(255, 255, 255);
  padding: 0.5rem;
}

/* main {
} */

/* h1 {
} */

.img-viewAll {
  height: 50rem;
  width: 50rem;
}
